<div class="panel-heading"><h3 class="text-primary">{{title}}</h3></div>
<div class="panel-body">
	<img src="{{image}}" class="img-rounded">
</div>
<div class="panel-footer movie-item-footer">
	<span class="glyphicon glyphicon-star">{{rate}}</span>
	<span class="glyphicon glyphicon-user">{{comments.count}}</span>
</div>