<li class="list-group-item comment-item">
	<div class="pull-left"><strong>{{author.username}} :</strong> {{content}}</div>
	<div class="pull-right" role="deleteComment"><span class="glyphicon glyphicon-remove-circle"></span></div>
	<div class="clearfix"></div>
</li>