<div class="list-group-item">
	<form class="comment-form">
		<div class="input-group">
			<input type="text" placeholder="send new comment" class="form-control" role="commentContent">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit">Send</button>
			</span>
		</div>
	</form>
</div>

<ul class="list-group comment-list"></ul>