<form id="searchForm">
	<div class="col-sm-12 col-md-12">
		<div class="input-group">
			<input placeholder="search movies by title" name="keyword" type="search" class="form-control">
			<span class="input-group-btn">
				<input class="btn btn-primary" type="submit" value="search">
			</span>
		</div>
	</div>

	<div class="col-sm-12 col-md-12">
		<div class="btn-group category-list" data-toggle="buttons">
				<label class="btn btn-primary category-item">
			<input value="" type="radio" name="categoryId"> All
		</label>
	</div>

	</div>
</form>