.page-header
	margin: 0px 0px 20px 0px

	.btn
		margin-top: 22px

.spinner
	border: 0px
	margin-top: 40%
	margin-left: 45%
	width: 60px
	height: 60px
	background-image: url('/images/spinner.gif')

#mainContent
	overflow: hidden